{% extends "base.html" %}

{% block content %}


    <header class="tab_00">
  
        <div style="display: flex;">
            <!-- <div class="title_00">Meeting Schedule {{ today }}</div> -->
            <div class="title_00">Meeting Schedule    </div>
            <div class="title_00" style="margin-left: 20px; ">{{ today }}</div>
            <div id="clock_schedule" class="title_00" style="margin-left: 20px; "></div>
            {# {{ local_start_date}} #}
            <div style="margin-left: auto;">

                <form action="/schedule/up/" method="post">
                    <button type="submit" style="background-color: #444; color: #0f0;"> -↑- </button>
                </form>
                <form action="/schedule/down/" method="post">
                    <button type="submit" style="background-color: #444; color: #0f0;">-↓-</button>
                </form>
            </div>

        </div>


        
        <form action="/schedule/add_task/" method="post">
            <input type="hidden" name="time_zone" value="{{ time_zone }}">

            <input type="text" name="name" placeholder="Enter Name ..." style="background-color: #444; color: #fff;" oninput="this.style.backgroundColor = this.value ? '#444' : '#fff'; this.style.color = '#999'">
            <!-- <input type="text" name="name" placeholder="Enter Name ..." style="background-color: #444; color: #fff;"> -->
            <input id="input_date" type="date" name="date1" placeholder="MM/DD/YYYY"  style="background-color: #444; color: #888;"
                    onfocus="(this.type='date')">
            <input type="time" name="start_time" placeholder="start HH:MM" value="00:00" style="background-color: #444; color: #888;"
                    onfocus="(this.type='time')">
            <input type="time" name="end_time" value="00:00" style="background-color: #444; color: #888;">
                    
            <input type="text" name="link" placeholder="Enter link..." style="background-color: #444; color: #fff;" oninput="this.style.backgroundColor = this.value ? '#444' : '#fff'; this.style.color = '#999'">
            <input type="text" name="category" placeholder="Enter category..." style="background-color: #444; color: #fff;" oninput="this.style.backgroundColor = this.value ? '#444' : '#fff'; this.style.color = '#999'">
            <input type="text" name="status" placeholder="Enter status..." style="background-color: #444; color: #fff;" oninput="this.style.backgroundColor = this.value ? '#444' : '#fff'; this.style.color = '#999'">
            <button type="submit" style="background-color: #444; color: #0f0;">Add Task</button>
        </form>
        <!-- <button onclick="alertFunction()">Click Me!</button> -->

    </header>
    <main class="tab_00">
        <div class="day_group">
            <div>Mon.</div>
            <div>Tue.</div>
            <div>Wed.</div>
            <div>Thu.</div>
            <div>Fri.</div>
            <div>Sat.</div>
            <div>Sun.</div> 
        </div>
        <div class="scrollable-content">

            
            {% for ii in range(50) %}
                <div class="screen">
                    {% for i in range(7) %}
                    
                    
                    
                        <div class="{{ 'day_active' if dates[i+ii*7] == today else 'day' }}">
                            <ul class="ul" >
                                <div id="dateClick" style="color: #0f0;" data-date1='{{ dates[i+ii*7] }}' onclick="onclickDate('{{ dates[i+ii*7] }}')">
                    
                                    {{ dates[i+ii*7] }}
                                </div>
 
                                {% for item in df_combined %}
                                
                                
                                
                                
                                    {% if dates[i+ii*7] == item["local_start_date"] %}
                                
                                <!-- <li class="li"> -->
                                    <!-- <li class="li" onclick="onclickItem('{{ item }}')"> -->
                                        <li class="li" onclick="onclickItem('{{ item.id }}', '{{ item.link }}')"> 

                                            {% if item.local_start_time == '00:00' and item.local_end_time == '00:00' %}

                                                {{ '🟩 ' ~item.name }}

                                            {% else %}
                                            <!-- {{ item["name"] }} -->
                                                {{ item.local_start_time~ '-' ~item.local_end_time~ ' ' ~item.name }}

                                            {% endif %}
                                            <!-- {{ active_meeting}} -->
                                            
                                            
                                            
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                        
                            </ul>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
                    <!-- <div style="font-size: 20px; margin-left: 5px">
                        
                    </div> -->
                    
        </div>

    </main>
    <footer>

    </footer>
    <script>
        // clock function

        function updateClock() {
          const now = new Date(); // Get the current date and time
          const hours = String(now.getHours()).padStart(2, '0');  // Get hours and ensure it's two digits
          const minutes = String(now.getMinutes()).padStart(2, '0');  // Get minutes and ensure it's two digits
          const seconds = String(now.getSeconds()).padStart(2, '0');  // Get seconds and ensure it's two digits

          // Format the time as HH:MM:SS
          // const timeString = `${hours}:${minutes}:${seconds}`;
          const timeString = `${hours}:${minutes}:${seconds}`;

          // Update the content of the 'clock' element with the formatted time
          document.getElementById('clock_schedule').textContent = timeString;
      }

      // Call the function once to set the initial time
      updateClock();

      // Update the clock every 1000 milliseconds (1 second)
      setInterval(updateClock, 1000);

      document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector("form[action='/schedule/add_task/']");
        form.addEventListener("submit", function(event) {
            let startTime = document.getElementById('start_time');
            if (startTime.value === '') {
                startTime.value = '00:00'; // Set default time if empty
            }
        });
    });






  </script>

    

    
    
{% endblock %}



