{% extends "base.html" %}

{% block content %}
<header class="tab_00">
    <!-- ... existing code ... -->
    <div style="display: flex;">
        <div class="title_00">Meeting Schedule    </div>
        <div class="title_00" style="margin-left: 20px; ">{{ today }}</div>
        <div id="clock_schedule" class="title_00" style="margin-left: 20px; "></div>
        {# {{ local_start_date}} #}
        <div style="margin-left: auto;">

            <form action="/schedule/up/" method="post">
                <button type="submit" style="background-color: #444; color: #0f0;"> -↑- </button>
            </form>
            <form action="/schedule/down/" method="post">
                <button type="submit" style="background-color: #444; color: #0f0;">-↓-</button>
            </form>
        </div>

    </div>




    <div style="display: flex;">
        <!-- <form action="/tab_00/add_task/" method="post"> -->
        <form action="/schedule/update_task/{{ item.id }}" method="post">
            <input type="hidden" name="time_zone" value="{{ time_zone }}">

            <input type="text" name="name" value="{{ item.name }}" placeholder="Enter Name ..." style="background-color: #444; color: #fff;">
            

            <input id="input_date" type="date" name="date1" value="{{ selected_local_start_date }}" placeholder="MM/DD/YYYY"  style="background-color: #444; color: #fff;"
                    onfocus="(this.type='date')">





            <input type="time"; name="start_time" value="{{ selected_local_start_time }}";  style="background-color: #444; color: #fff;"
                    onfocus="(this.type='time')">
            <input type="time" name="end_time" value="{{ selected_local_end_time }}"   style="background-color: #444; color: #fff;">




            <input type="text" name="link" value="{{ item.link }}" placeholder="Enter link..." style="background-color: #444; color: #fff;">
            <input type="text" name="category" value="{{ item.category }}" placeholder="Enter cTEGORY..." style="background-color: #444; color: #fff;">
            <input type="text" name="status" value="{{ item.status }}" placeholder="Enter STATUS..." style="background-color: #444; color: #fff;">
            <button type="submit" name="action" value="update" style="background-color: #444; color: #0f0;">Update Task</button>
            <button type="submit" name="action" value="deplicate" style="background-color: #444; color: #0f0; ">Deplicate Task</button>
        </form>
        
        
        
    
    <form action="/schedule/delete_task/" method="post" style="display: inline;">
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <button type="submit" style="background-color: #444; color: #0f0; margin-top: 2px; margin-left: 3px;">Delete Task</button>
    </form>
    
</div>
</header>

<main class="tab_00">
    <div class="day_group">
        <div>Mon.</div>
        <div>Tue.</div>
        <div>Wed.</div>
        <div>Thu.</div>
        <div>Fri.</div>
        <div>Sat.</div>
        <div>Sun.</div> 
    </div>
    <div class="scrollable-content">
        {% for ii in range(50) %}
            <div class="screen">
                {% for i in range(7) %}
                    <div class="{{ 'day_active' if dates[i+ii*7] == today else 'day' }}">
                        <ul class="ul">
                            <div id="dateClick" style="color: #0f0;" data-date1='{{ dates[i+ii*7] }}' onclick="onclickDate('{{ dates[i+ii*7] }}')">
                                {{ dates[i+ii*7] }}
                            </div>
                            {% for item in df_combined %}
                                {% if dates[i+ii*7] == item["local_start_date"] %}
                                    <li class="li" onclick="onclickItem('{{ item.id }}', '{{ item.link }}')"> 
                                        <!-- {% if item.local_start_time == '00:00' and item.local_end_time == '00:00' %}
                                            {{ '🟩 ' ~item.name }}
                                        {% else %}
                                            {{ item.local_start_time~ '-' ~item.local_end_time~ ' ' ~item.name }}
                                        {% endif %} -->
                                        {% set start_time_parts = item.local_start_time.split(':') %}
                                        {% set start_time_minute = start_time_parts[1] %}
                                        {% set end_time_parts = item.local_end_time.split(':') %}
                                        {% set end_time_minute = end_time_parts[1] %}

                                        {% if start_time_minute == '01' and end_time_minute == '01' %}
                                            {{ '🟩 ' ~item.name }}
                                        {% else %}
                                            {{ item.local_start_time~ '-' ~item.local_end_time~ ' ' ~item.name }}
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <!-- <div class="pagination-controls">
        {% if skip > 0 %}
            <button onclick="loadPage({{ skip - limit }})">Previous</button>
        {% endif %}
        {% if has_more %}
            <button onclick="loadPage({{ skip + limit }})">Next</button>
        {% endif %}
        <span>Page {{ current_page }} of {{ total_pages }}</span>
    </div> -->
    <!-- <div class="edit-form">
        <form action="/schedule/update_task/{{ item.id }}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ item.name }}">
            
            <label for="date1">Date:</label>
            <input type="date" id="date1" name="date1" value="{{ selected_local_start_date }}">
            
            <label for="start_time">Start Time:</label>
            <input type="time" id="start_time" name="start_time" value="{{ selected_local_start_time }}">
            
            <label for="end_time">End Time:</label>
            <input type="time" id="end_time" name="end_time" value="{{ selected_local_end_time }}">
            
            <label for="link">Link:</label>
            <input type="text" id="link" name="link" value="{{ item.link }}">
            
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" value="{{ item.category }}">
            
            <label for="status">Status:</label>
            <input type="text" id="status" name="status" value="{{ item.status }}">
            
            <button type="submit">Update</button>
        </form>
    </div> -->
</main>

<footer>
</footer>

<script>
    function updateClock() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');
        const timeString = `${hours}:${minutes}:${seconds}`;
        document.getElementById('clock_schedule').textContent = timeString;
    }

    updateClock();
    setInterval(updateClock, 1000);

    document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector("form[action='/schedule/add_task/']");
        form.addEventListener("submit", function(event) {
            let startTime = document.getElementById('start_time');
            if (startTime.value === '') {
                startTime.value = '00:00';
            }
        });
    });

    function loadPage(skip) {
        const url = new URL(window.location.href);
        url.searchParams.set('skip', skip);
        window.location.href = url.toString();
    }
</script>
{% endblock %}